

<mat-toolbar color= "black" class="navbar">
    
  <a  routerLink="/home-component" routerLinkActive="active" id=" home">AppRestaurant</a>
  
    <div >
            
      <a routerLink="/confirm-order"  routerLinkActive="active"><mat-icon> local_grocery_store</mat-icon> </a>
      <a routerLink="/place-order"    routerLinkActive="active"><mat-icon> local_shipping</mat-icon></a>
      <a routerLink="/user-profile"   routerLinkActive="active"><mat-icon> person_pin</mat-icon></a>
      <a routerLink="/login-user"    routerLinkActive="active" id = "logOut"  >logOut</a>

    </div>
    

</mat-toolbar>


<body>

  <app-cart-order2></app-cart-order2>
  <app-cart-review2></app-cart-review2>

 




</body>

<app-footer></app-footer>

