
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
  </head>
       
  <app-navbar></app-navbar>

    

  <body>


  
    <div class="Boxcontainer ">
        <div class="search-box">
            <div class ="elementsContainer">
              <tr>
              <td>
               <input type="text" [(ngModel)]="searchRestaurant"   placeholder ="search restaurant" class = "search" > {{searchRestaurant}}
              </td>
              <td>
                  <a href="#"> <mat-icon >search</mat-icon></a>
              </td>
            </tr>
                </div> 
              </div>     
        </div>
      


     <app-cards></app-cards>

     <div></div>
        



  
  </body>

  









  

 





