

<footer class = "main-footer" style="background-color: black">

     <section class = " mx-auto mb-md-0 mb-4" style="background-color: #888" >
        <div class="me-5">
            <span style="color: white">Get connected to our social medias </span>
          </div>

         
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">   </div>
                <h3 class=" fw-bold">Date</h3>
              
     </section>

    <div class = "row">
        <div class="col-sm">
            <p class = "text-center">&copy; appRstaurant | all rights reserved | terms of service </p>
      </div>

    </div>


</footer>