


<body>

    <div class="container ">
        <div class="row">
            <div class="col-md-5 off-md-3">
                <div class="LogIn">
    <form>
        <h1>Reset Password</h1>
   
            <div class="form-group">
                <div class="mb-3">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
        </div>
        
            <div class="form-group">
                <div class="mb-3">
                <label for="CPassword">Confirm Password</label>
                <input type="password" class="form-control" id="ConfPassword" placeholder="Confirm Password">
              </div>
            </div>
    
    <button type="submit" class="btn btn-primary">Reset password</button>
    
    
    
    </form>
    </div>
    </div>
    </div>
    </div>

    <h4 routerLink="/login-user">Go Back</h4>
    
    </body>