
<div class="container">

    <img  class="restaurant" src="https://c.ndtvimg.com/2021-06/3nidk3vo_dal_650x300_01_June_21.jpg">
    <h2>restaurant</h2>
    <h2 mat-dialog-title>name of dish</h2>
    
    <mat-dialog-content>
   
    
    <h4>description of dish</h4>
    <p> Place content of description of dish </p>

    
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-stroked-button color="accent" > Track Order</button>
        <button mat-stroked-button color="warn" (click)="closeDialogP()">close</button>
        
    </mat-dialog-actions>
    
    </div>
